.terminal {
  flex: 1;

  display: flex;
  flex-direction: column;
}
.terminal-head {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: #3C3B3C;
  display: flex;
  padding: 0.1rem 0.3rem;
}
.terminal-button {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
  background: blue;
}
.terminal-button--one {
  background: #FF5F58;
}
.terminal-button--two {
  background: #FFBD2E;
}
.terminal-button--three {
  background: #29CE42;
}
.terminal-body {
  background: black;
  color: white;
  box-sizing: border-box;

  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;

  height: 24rem;
  overflow: auto;
}
.terminal-text {
  line-break: anywhere;
  white-space: pre-wrap;
  margin: 0.5rem;
  padding: 0;
}
